{% extends "base.html" %}
{% block content %}
<h3>Edit Parking Lot</h3>
<form method="post">
  <div class="mb-3">
    <label>Name</label>
    <input type="text" name="name" value="{{ lot.name }}" class="form-control" required>
  </div>
  <div class="mb-3">
    <label>Address</label>
    <input name="address" value="{{ lot.address }}" class="form-control" required>
  </div>
  <div class="mb-3">
    <label>Pin Code</label>
    <input name="pin" value="{{ lot.pin_code }}" class="form-control" required>
  </div>
  <div class="mb-3">
    <label>Price (per hour)</label>
    <input type="number" step="0.01" min="0" name="price" value="{{ lot.price }}" class="form-control" required>
  </div>
  <div class="mb-3">
    <label>Capacity (No. of spots)</label>
    <input type="number" min="1" name="capacity" value="{{ lot.capacity }}" class="form-control" required>
    <small class="form-text text-muted">
        Reducing capacity only removes available spots. Occupied spots cannot be removed.
    </small>
  </div>
  <button class="btn btn-primary">Save Changes</button>
</form>
{% endblock %}
